@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Poppins";
    font-weight: normal;
    src: url("./assets/fonts/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Anuphan";
    font-weight: normal;
    src: url("./assets/fonts/Anuphan-Regular.otf");
  }
}
iframe {
  width: 100%;
  height: calc(100% / 1.77);
}
