@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Poppins";
    font-weight: normal;
    src: url("./assets/fonts/Poppins-Medium.ttf");
  }
  @font-face {
    font-family: "Anuphan";
    font-weight: normal;
    src: url("./assets/fonts/Anuphan-Regular.otf");
  }
  @font-face {
    font-family: "Ab";
    font-weight: normal;
    src: url("./assets/fonts/Stars-Regular.ttf");
  }
}
iframe {
  width: 100%;
  height: calc(100% / 1.77);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(145, 62, 255);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 30, 255);
}

.object-ud {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 40%;
  }
  50% {
    bottom: 30%;
  }
}

.object-ud2 {
  animation: MoveUpDown2 3.5s linear infinite;
  position: absolute;
}

@keyframes MoveUpDown2 {
  0%,
  100% {
    bottom: 20%;
  }
  50% {
    bottom: 30%;
  }
}
